h1 {color: blue}
h1 {font-size: 300%}
#Elfbar5000puffs {width: 50%}
#Elfbar5000puffs {margin-left: 25%;}
h2 {color: rosybrown}
h2 {font-size: 300%}
h1 {text-align: center;}
h2 {text-align: right;}
#Elfbar4000puffs {margin-left: 25%}
#Elfbar800puffs {margin-left: 25%}
h3 {font-size: 300%}
h3 {color: orange}
h3 {text-align: left;}
#Elfbar4000puffs {width: 50%}
#Elfbar800puffs {width: 50%}

